<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.bozrahvice.example.shardingjdbc.sql.mapper.GlobalTableMapper">
    <resultMap id="GlobalTableResultMap" type="io.github.bozrahvice.example.shardingjdbc.sql.dto.GlobalTableDO">
        <result property="id" jdbcType="VARCHAR" column="id"/>
        <result property="typeValue" jdbcType="VARCHAR" column="type_value"/>
        <result property="typeName" jdbcType="VARCHAR" column="type_name"/>
        <result property="gmtCreate" jdbcType="TIMESTAMP" column="gmt_create"/>
        <result property="gmtModified" jdbcType="TIMESTAMP" column="gmt_modified"/>
    </resultMap>

    <sql id="InsertColumn">
        id,
        type_value,
        type_name,
        gmt_create,
        gmt_modified
    </sql>

    <sql id="QueryColumn">
        id,
        type_value,
        type_name,
        gmt_create,
        gmt_modified
    </sql>

    <sql id="insertDataValues">
        #{id},
        #{typeValue},
        #{typeName},
        #{gmtCreate},
        #{gmtModified}
    </sql>

    <insert id="insert" parameterType="io.github.bozrahvice.example.shardingjdbc.sql.dto.GlobalTableDO">
        insert into global_table (<include refid="InsertColumn"/>)
        values (<include refid="insertDataValues"/>)
    </insert>

    <update id="update" parameterType="io.github.bozrahvice.example.shardingjdbc.sql.dto.GlobalTableDO">
        update global_table
        <set>
            <if test="typeName != null">
                type_name = #{typeName},
            </if>
            gmt_modified = sysdate()
        </set>
        where id = #{id}
    </update>

    <select id="queryByKey" parameterType="java.lang.String" resultMap="GlobalTableResultMap">
        select
        <include refid="QueryColumn"/>
        from global_table
        <where>
            id = #{id,jdbcType=VARCHAR}
        </where>
    </select>
</mapper>